.container() {
     display: flex;
        align-items: center;
        max-width: 1414px;              
        margin: 0 auto;         
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
}