.event{
    padding: 40px 0 150px;
    max-width: 1200px; /* или другая ширина */
    margin: 0 auto; /* центрирование */
   /* отступы слева и справа */
}


.event__content {
  padding: 0 20px;
}
.event__content h5 {
  margin-top: 75px;
}

.event__reserve {
  padding: 0 20px;
}
