.main-header {
    color: black;
    max-width: 990px;       
    margin: 100px auto 80px; 
    padding: 40px 20px;     
    text-align: center;
}

.main-header h1 {
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 30px;
}

.main-header p {
    font-size: 20px;        
    font-weight: 400;
    line-height: 1.5;       
    margin-top: 30px;
}

.offers {
    max-width: 1200px;      
    margin: 0 auto 80px;    
    padding: 40px 20px;     
    text-align: center;
}

.offers__title {
    font-size: 24px;
    margin-bottom: 30px;    
}

.offers__btns {
    display: flex;
    justify-content: center;
    gap: 30px;             
}

.page-footer__nav {
    max-width: 1337px;
    margin: 0 auto;
}

.page-footer__nav-link {
    display: block;
    text-decoration: none;
    color: #333;            
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px 0 12px 40px; /* Внутренние отступы */
    margin-bottom: 10px;   
}



