* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Open Sans", sans-serif;
    color: #1F1E1E;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}


.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;

    max-width: 1920px;      
    padding: 0 20px;        
    margin: 0 auto;         
    display: flex;
    justify-content: space-between;
    background-color: rgba(222, 222, 222, 0.5);
    align-items: center;
    border-bottom: 2px solid #eee; 
    backdrop-filter: blur(20px);
    z-index: 100;
}

@supports (backdrop-filter: blur(20px)) {
  .page-header {
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
  }
}

.page-header__logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    flex-shrink: 0;
    width: 202px;
    height: 147px;
}

.page-header__logo-icon {
  width: 100%;
  height: 100%;
}

.page-header__nav {
    display: flex;
    gap: 50px;
    align-items: baseline;
    margin: 0 auto;
}

.page-header__nav-link {
    text-decoration: none;
    color: #1f1e1e;
    font-size: 18px;
    
    margin: 0 25px;
    font-weight: 600;
    line-height: 25px;
    transition: color 0.2s;
}

.page-header__nav-link:hover {
  color: #bc3324;
}

.page-header__right-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 202px;
}

.page-header__user-link { /*кнопка войти*/
    text-decoration: none;
    color: #1F1E1E;
    padding: 15px 40px;     
    border: 1px solid #1F1E1E;
    border-radius: 0; 
    
    display: inline-block;
    box-sizing: border-box; 
    background-color: transparent;
    outline: none;
    color: #1F1E1E;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.page-header__user-link:hover {
     background-color: #1F1E1E;
  color: #ffffff;
}

.page-header__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.main {
    flex: 1 0 auto;
}
.main-header {
    color: black;
    max-width: 990px;       
    margin: 100px auto 80px; 
    padding: 40px 20px;     
    text-align: center;
}

.main-header h1 {
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 30px;
}

.main-header p {
    font-size: 20px;        
    font-weight: 400;
    line-height: 1.5;       
    margin-top: 30px;
}

.offers {
    max-width: 1200px;      
    margin: 0 auto 80px;    
    padding: 40px 20px;     
    text-align: center;
}

.offers__title {
    font-size: 24px;
    margin-bottom: 30px;    
}

.offers__btns {
    display: flex;
    justify-content: center;
    gap: 30px;             
}

.btn {/*кнопка стать аренатором*/
    padding: 15px 30px;     
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Open Sans', serif;
    background-color: transparent;
    cursor: pointer;    
}

.btn--red {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}

/* НОВЫЕ СТИЛИ ДЛЯ .section-title */
.section-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    max-width: 624px;
    min-height: 62px;
    margin: 0 auto 150px;
    padding: 8px 45px;
    background-color: #1F1E1E;
    color: #ffffff;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.277;
    text-align: center;
    text-transform: uppercase;
}

/* НОВЫЕ СТИЛИ ДЛЯ .listing */
.listing {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.listing__events-list {
    display: flex;
    flex-wrap: wrap;
}

.events {
    padding: 140px 0 100px;
}

.events__listing {
    margin-bottom: 100px;
}


.page-footer {     
    height: 320px;          
    padding: 60px 40px;              
    border-top: 1px solid #eee;
    background-color: #f8f8f8;
    text-align: left;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.page-footer__nav {
    max-width: 1337px;
    margin: 0 auto;
}

.page-footer__nav-link {
    display: block;
    text-decoration: none;
    color: #333;            
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px 0 12px 40px; /* Внутренние отступы */
    margin-bottom: 10px;   
}




.event-card {
  display: flex;
  width: 406px;
  max-width: 100%;
  min-width: 280px;
}

.event-card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #1F1E1E;
  text-decoration: none;
}

.event-card__link:hover .event-card__title {
  color: #BC3324;
  text-decoration-color: #BC3324;
}

.event-card__picture {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 25px;
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
}

.event-card__picture::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.event-card__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-card__title {
  margin: 0 0 15px;
  min-height: 66px;
  color: #1F1E1E;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: underline transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
}

.event-card__description {
  margin: 0 0 auto;
  font-size: 16px;
  line-height: 22px;
}

.event-card__time {
  margin: 15px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.listing__events-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -29px -120px;
}

.listing__event-card {
  width: calc(33.3333% - 58px);
  margin: 0 29px 120px;
}

.event {
  padding: 40px 0 150px;
}

.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas: 
    "checks scheme"
    "order legend"; 
  width: 100%;
}

.reserve__checks {
  grid-area: checks;
}

.reserve__order {
  grid-area: order;
}

.reserve__scheme {
  grid-area: scheme;
}


.reserve > div {
  box-sizing: border-box;
  padding: 10px;
  background-color: coral;
  text-align: center;
}